<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
{:cookie('lang')}
    {foreach $categoryList as $category}
    <a href="?categoryid={$category['category_id']}">{$category['category_name']}</a>
    {/foreach}
    {foreach $products as $product}
    <div>
        <img src="{$product['prd_pic'][0]['url']}" width="150px" height="100px">
    </div>
    {/foreach}

    {foreach $exhibitionList as $exhibition}
    <div>{$exhibition['exhibition_title']}</div>
    <div>{$exhibition['exhibition_phaseone']}</div>
    <div>{$exhibition['created_time']}</div>
    <div>{$exhibition['exhibition_booth']}</div>
    {/foreach}
</div>

</body>
</html>