<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    类型标签-->
    {foreach $categoryList as $category}
    <a  href="?categoryid={$category['category_id']}" class="tag">{$category['category_name']}</a>
    {/foreach}
<!--        对应类型的产品图片和型号名称-->
<div class="pics">
    {foreach $prdList as $product}
    <div>
        <img src="{$product.prd_pic[0]['url']  | default='' }" width="100px" height="100px">
        <div >{$product.prd_modelname}</div>
    </div>
    <a href="?prdid={$product['prd_id']}" class="tag">产品详情</a>
    {/foreach}
</div>
<!--        跳转后的产品详情页面-->
<div>
    <div>{$productItem.prd_modelname}</div>
    <div>{$productItem.prd_size}</div>
    <div>{$productItem.prd_packaging}</div>
    <div>{$productItem.prd_count}</div>
    <div><img src="{$productItem.prd_pic[0]['url']  | default='' }" width="100px" height="100px"></div>
    {volist name='productEffectPic' id="item"}
    <div>
        <img src="{$item['url']  | default='' }  " width="150px" height="150px" >
    </div>
    {/volist}
    {volist name='productDescription' id='textitem'}
    <li>{$textitem}</li>
    {/volist}
    <!--        描述信息用逗号分开？-->
</div>
</body>
</html>