<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<title>{:lang('h-exhibition')}</title>
	<link rel="stylesheet" href="/static/style/mobile/mobile.css"></link>
	<link rel="stylesheet" href="/static/style/mobile/exhibition.css"></link>
</head>
<body>
	<div class="exhibition base">
		<div class="navbar">
			<div class="logo"></div>
			<div class="dropdown">
				<input type="checkbox" name="btn" id="m-btn">
				<label class="menu-btn" for="m-btn"></label>
				<div class="dropdown-content">
					<a href="{:url('website')}"><img src="/static/mobile/icons/navbar/home.svg" alt="home">{:lang('h-home')}</a>
					<a href="{:url('website/about')}"><img src="/static/mobile/icons/navbar/about.svg" alt="about">{:lang('h-about')}</a>
					<a href="{:url('website/product')}"><img src="/static/mobile/icons/navbar/product.svg" alt="product">{:lang('h-product')}</a>
					<a href="{:url('website/exhibition')}"><img src="/static/mobile/icons/navbar/exhibition.svg" alt="exhibition">{:lang('h-exhibition')}</a>
					<a href="{:url('website/contact')}"><img src="/static/mobile/icons/navbar/contact.svg" alt="contact">{:lang('h-contact')}</a>
				</div>
			</div>
		</div>

		<div class="banner">
			<img src="/static/mobile/images/exhibition/banner.png" alt="banner">
		</div>
		
		<div class="info base-padding">
			<div class="underline-title">{:lang('exhibition_news')}</div>
			<div class="list">
				{foreach $exhibitionList2 as $exhibition}
				<div class="list-item">
					<div class="img-wrapper">
						<img src="{$exhibition.exhibition_pic[0]['url'] | default='' }" style="width: 358px;height: 137px" alt="list-pic">
					</div>
					<div class="title">{$exhibition.exhibition_title}</div>
					<div class="detail">
						<p>
							{:lang('first_phase')}：{$exhibition.exhibition_phaseone}，{:lang('booth_number')}: {$exhibition.exhibition_boothone}
						</p>
						<p>
							{:lang('second_phase')}：{$exhibition.exhibition_phasetwo}，{:lang('booth_number')}: {$exhibition.exhibition_boothtwo}
						</p>
					</div>
				</div>
				{/foreach}
			</div>
		</div>

		<div class="footer">
			<div class="logo"></div>
			<div class="name">{:lang('f-company_name')}</div>
		</div>
	</div>
</body>
</html>